.header {
  background-color: #84DA76;  
  height: 50px;
  margin-bottom: 25px;
}

.header-title {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3B484E;    
  color: white;
  text-align: center;
  height: 30px
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%; 
}

.button_container {
  margin: 11px 20px;
}

#emtpy-field-alert, .alert-star {
  color: red;
  font-weight: bold;
}
